---
import Layout from '../layouts/BlogPost.astro';
import GlowLineSeparator from '@/components/ui/separator/GlowLineSeparator.astro';
import ArrowSeparator from '@/components/ui/separator/ArrowSeparator.astro';
const pageTitle = 'About Me';
const pageDescription = 'Learn more about me, my background, and my career.';
---

<Layout title={pageTitle} description={pageDescription} pubDate={new Date()} showHeader={false}>
  <p>
    I'm Caleb, an Air Force veteran specializing in enterprise IT and cybersecurity, with a focus on bridging business and technology.
  </p>
  <p>
    Over my 9-year military career, I moved from translating Persian-Farsi and supporting cyber operations at USCYBERCOM to leading training programs that shaped the next generation of military linguists. Those experiences taught me to translate between technical and non-technical teams, lead people through change, and understand the importance of automation and security in operations.
  </p>
  <p>
    I'm completing my Master's in Information Technology with a concentration in cybersecurity while working hands-on with Microsoft 365 and Power Platform, and building hands-on experience with Azure infrastructure through labs and certfications. 
  </p>
  <p>
    Beyond the technical side, I'm passionate about professional mentorship and connecting people with the tools and systems that make their work more effective. For me, technology is most powerful when it empowers people, simplifies complexity, and drives lasting impact.
  </p>
  <p>
    Outside of work, you'll find me hiking, backpacking, or skiing, traveling to explore new cultures and cuisines, or at home either spending time with my fiancée and our dogs or PC gaming with friends.
  </p>
        <GlowLineSeparator />
</Layout>

  <GlowLineSeparator />

</Layout>
